* {
    margin: 10px 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #7cc452;
    color: #e08080;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #c4f4fa;
  }

  a:hover {
    text-decoration: underline;
  
  .intro {
    text-align: center;
    padding: 10px;
  }
  
  footer {
    background-color: #c8d6b4;
    text-align: center;
    padding: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
  padding: 20px;
  }
  
 .intro, .news, .events {
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}