* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #7cc452;
    color: #e08080;
    padding: 2rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 2rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #c4f4fa;
  }
  
  .intro {
    text-align: center;
    padding: 2rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

@media (max-width: 600px) {
    body {
      flex-direction: column;
    }
  }
  
  @media (min-width: 900px) {
    body {
      flex-direction: row;
    }
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
  padding: 20px;
  }
 